body{
    background-color: azure;
    
}
img {
    width: 100%;
    height: 25%;
    background-color: transparent;
 }

h3{
    font-family: "Itim", cursive;
    text-align: center;
    font-size: 30px;
}