{% extends "./base.html" %}


{% block content%}
<body>
 <section>
    <nav >
        <button id="hamburger-menu-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul id="navigation">
            <div class="img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQmP6KXW7FAhYOjQYXqscHpOoosyxh1I4VNA&usqp=CAU">
            </div>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">about me</a></li>
          <li><a href="#">settings</a></li>
        </ul>
      </nav>
    </section>

 <script src="index.js"></script>   
<body>

{% end block %}
