{% extends "./base.html" %}
{%load static %}

{% block css_files %}

<link rel="stylesheet" href="{% static "Dailyjotter/create-post.css" %}">

{% endblock %}
{% block content %}
<body>
    <section>
    <div class="sic">
        <form action="/create-post/" method="post">

            {% csrf_token %}

            {% for field in form %}
                    
            <label for="{{ field.label_for }}">{{ field.label }}</label>
   
            {{ field }}        
            {% endfor %}
       
            <button class="submit" type="submit">Submit</button>

        </form>
    </div>

    </section>
</body>
{% endblock %}