{% extends "./base.html" %}
{%load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "Dailyjotter/main-page.css" %}">

{% endblock %}
{% block content%}
<body>
 <section>
    <nav >
    
        <button id="hamburger-menu-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul id="navigation">
            <div class="img">
                <img src="">
            </div>
            <li><a href="{% url 'create-post' %}">Create Post </a></li>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">about me</a></li>
          
          <li><a href="#">settings</a></li>
        </ul>
      </nav>
    </section>
{{name}}
    <section id="all-posts">
        <h2>Todays Posts</h2>
        <ul style="
        list-style: none">
            {% for post in posts %}

               {% include "includes/post.html" %}

            
            {% endfor %}
        </ul>
      </section>
    
<body>
{% block js_files %}

    <script src="{% static "Dailyjotter/main-page.js" %}"></script>   

{% endblock %}
    
{% endblock %}
