{% extends "./base.html" %}
{%load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "Dailyjotter/main-page.css" %}">

{% endblock %}
{% block content%}
<body>
 <section>
    <nav >
    
        <button id="hamburger-menu-button">
          <span></span>
          <span></span>
          <span></span>
        </button>
        <ul id="navigation">
            <div class="img">
                <img src="">
            </div>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">about me</a></li>
          <li><a href="#">settings</a></li>
        </ul>
      </nav>
    </section>
<section>

    {% for post in posts %}

        {{post.author}}

        <img src="{{ post.image.url }}" alt="{{ post.title }}" />

    {% endfor %}


</section>
 
<body>
{% block js_files %}

    <script src="{% static "Dailyjotter/main-page.js" %}"></script>   

{% endblock %}
    
{% endblock %}
