{% extends "./base.html" %}
{%load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "Dailyjotter/main-page.css" %}">

{% endblock %}
{% block content%}
 <body>
    <b><a class="back" style="
        text-decoration: none;
        color: black;
        margin-left:12px;" href="javascript:history.back()"> Back</a></b>
    <section id="summary">
        <h2>{{post.title}}</h2>
        <article>
            <img  style="
            width: 50%;
            margin-left: 90px;
            border-radius: 15px;
            display: block;
            text-align: center;
        " src="{{ post.image_url }}" alt={{post.title}}>


            <address style="
            text-align: center;
            font-size: 20px;
            margin-top: 7px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            "> By :  {{post.author}} </address>
            <div>

               <h3 style="
               text-align: center;
               font-size: 15px"> 
                  Last updated :  {{post.date}}<br>
                {{post.tag}}</h3>
            
            </div>
    
        </article>
    </section>
    <main>
      <center> <h4 style=" fontfamily : ">{{post.content}} </h4> </center>
    </main>
    
    
    
    {% endblock %}
    