{% extends "./base.html" %}
{% load static %}

{% block css_files %}

<link rel="stylesheet" href="{% static "Dailyjotter/profile.css" %}">


{% endblock %}

{% block content%}
<body>
    <section>
        <nav>
            <div class="profile">
                <div class="profile-picture">
                    {% if author.image %}
                       <img src="{{ author.image.url }}" alt="Profile picture">
                    {% else %}
                        <h4>No image</h4>
                    {% endif %}
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'update_profile_image' %}">
                    {% csrf_token %}
                    <center>
                    <label for="id_image" class="edit-label">
                        <button type="button" class="edit">+new</button>
                    </label>
                    <input type="file" name="image" id="id_image" style="display: none">
                    <button class="update-profile" type="submit">Update Profile Picture</button>
                    </center>
                    <div class="profile-info">
                        <h2>{{author}}</h2>
                        <p>{{author.about}}</p>
                    </div>
                </form>
            </div>
        </nav>
    </section>
</body>
{% block js_files %}

    <script src="{% static "Dailyjotter/profile.js" %}"></script>   

{% endblock %}

{% endblock %}