{% extends "./base.html" %}
{% load static %}

{% block css_files %}

<link rel="stylesheet" href="{% static "Dailyjotter/profile.css" %}">


{% endblock %}

{% block content%}
<body>
    <section>
        <nav>
            <div class="profile">
                <div class="profile-picture">
                    <img src="{{ author.image.url }}" alt="Profile picture">
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'update_profile_image' %}">
                    {% csrf_token %}
                    <label for="id_image" class="edit-label">
                        <button type="button" class="edit">+</button>
                    </label>
                    <input type="file" name="image" id="id_image" style="display: none">
                    <div class="profile-info">
                        <h2>{{author}}</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum vitae eros ac dictum.</p>
                    </div>
                    <button type="submit">Update Profile Picture</button>
                </form>
            </div>
        </nav>
    </section>
</body>
{% block js_files %}

    <script src="{% static "Dailyjotter/profile.js" %}"></script>   

{% endblock %}

{% endblock %}