body{
    background-color: white;
    
}
img {
    width: 95%;
    height: 25%;
    background-color: transparent;
 }

h3{
    font-family: 'Labrada', serif;
    text-align: center;
    font-size: 30px;
}