.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .profile-picture {
    flex-shrink: 0; /* prevent picture from shrinking */
    margin-right: 20px;
  }
  
  .profile-picture img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .profile-info {
    flex-grow: 1; /* allow info to grow */
  }
  

  .edit{
    background-color: skyblue;
  border: none;
  border-radius: 30%;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  }

 button[type="submit"]{
    background-color: whitesmoke;
    color: white;
    height: 30px ;
    width: 120px;
    font-size: 9px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .update-profile:hover {
    background-color: skyblue;
  }
  

  @media (max-width: 600px) {
    /* change flex direction to column on smaller screens */
    .profile {
      flex-direction: column;
    }
    
    .profile-picture {
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  