.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
    margin-left: 40px;
    margin-right: 60px;
}
.sic{
    margin-top: 180px;
    align-items: center;
}
label {
    font-weight: bold;
    font-family: 'Itim', cursive;
    margin-bottom: 0.5rem;
}
h3{
    font-family: "Itim", cursive;
    color: red;
}
input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
    margin-top: 20px;
}

